.tabs-list {
    margin: 4em 0 2em 0;

    .nav-tabs {
        border-color: transparent;
    
        .nav-link {
            text-decoration: none;
            color: $color__black;
            border-radius: 2px;
            border-color: transparent;
    
            &:hover {
                border-color: $color__primary;
            }
    
            &.active {
                color: $color__black;
                border-color: transparent;
            }
        }
    }

    .tab-content {
        padding: 1em;
    }

    .slick-list {
        width: 90%;
        margin: auto;
        border-bottom: 1px solid $color__primary;
        margin-bottom: 0.5em;
    }

    @media screen and (min-width: $size__xl) {
        .nav-tabs {
            border-color: $color__primary;

            .nav-link {
                &.active {
                    color: $color__black;
                    border-color: $color__primary $color__primary $color__white;
                }
            }
        }

        .slick-list {
            width: 100%;
            margin: auto;
            border-bottom: none;
            margin-bottom: 0;
        }
    }
}