input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color-black;
	border: 1px solid $color-primary;
	border-radius: 0.5em;
	padding: 3px;
	width: 100%;

	&:focus {
		color: $color-text-input-focus;
	}
}

select {
	border: 1px solid $color-border-input;
}

textarea {
	width: 100%;
}

.product-teaser {
	display: none;
	margin: 2em 0;
}

input[type="submit"] {
	margin-top: 0;
}

label {
	width: 100%;
	font-size: 1.1rem;
}

form {
	p {
		margin-bottom: 0.7em;
	}
}
