h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	position: relative;
	display: inline-block;
	margin-bottom: 1em;
	font-size: $font-big;
	font-family: $font-headings;
	font-weight: bold;

	&::after {
		content: "";
		display: inline-block;
		border-bottom: 2px solid $color-primary;
		width: 85%;
		position: absolute;
		bottom: -5px;
		left: 0;
	}

	@media screen and (min-width: $size-sm) {
		font-size: $font-verybig;
	}
}

h1 {
	margin: 0;
	text-align: center;
	display: block;

	&::after {
		content: none;
	}

	font-size: $font-verybig;
	@media screen and (min-width: $size-sm) {
		font-size: $font-veryverybig;
	}
}

h2 {
	padding-top: 6rem;
	@media screen and (min-width: $size-xl) {
		padding-top: 7rem;
	}
}

h3 {
	@media screen and (min-width: $size-sm) {
		font-size: $font-big;
	}
}

section:first-child {
	h1 {
		padding-top: 7rem;
	}
}

.entry-title {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin: 0;
}
