a {
	color: $color-link;
	text-decoration: underline;

	&:hover,
	&:focus,
	&:active,
	&.focus {
		color: $color-link-hover;
		text-decoration: underline;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
