body,
button,
input,
select,
optgroup,
textarea {
	color: $color-text-primary;
	font-family: $font-main;
	font-size: 1rem;
	line-height: $font-line-height-body;
}

@font-face {
	font-family: 'Red Hat';
	src: url('fonts/RedHatDisplay-Medium.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Red Hat';
	src: url('fonts/RedHatDisplay-Regular.ttf');
	font-weight: normal;
}

@import "headings";
@import "copy";
