.site-footer {
    background-color: $color__white;
    border-top: 10px solid $color__primary;

    .footer-menus {
        .footer-menu {
            padding-top: 1em;
            padding-bottom: 1em;
            border-bottom: 1px solid $color__primary;
            &:last-child {
                border-bottom: 0;
            }
        }
    }

    @media screen and (min-width: $size__small) {
        border-top: 1px solid $color__primary;

        .footer-menus {
            padding: 1em 0;
            
            .footer-menu {
                padding-top: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }

    .site-info {
        padding: 1em;
        color: $color__text-third;
        background-color: $color__primary;
        // text-align: center;
        font-size: $font__small;
    }

    a {
        color: $color__text-primary;
        &:hover {
            text-decoration: none;
        }
    }
}