@import 'mixins/mixins';

$color-primary: #4C5C68;
$color-secondary: #C5C3C6;
$color-third: #DCDCDD;
$color-accent: #1985A1;

$color-error: #FFD2D2;  
$color-success: #DFF2BF;
$color-info: #BDE5F8;

$color-white: #fff;
$color-black: #000;

$color-text-primary: #000;
$color-text-secondary: #404040;
$color-text-third: #fff;

$color-background-body: #fff;
$color-background-screen: #f1f1f1;
$color-background-hr: #ccc;
$color-background-button: #e6e6e6;
$color-background-pre: #eee;
$color-background-ins: #fff9c0;

$color-text-screen: #21759b;
$color-text-input: #666;
$color-text-input-focus: #111;
$color-link: $color-black; 
$color-link-visited: $color-black;
$color-link-hover: $color-black; 

$color-border-button: #ccc #ccc #bbb;
$color-border-button-hover: #ccc #bbb #aaa;
$color-border-button-focus: #aaa #bbb #bbb;
$color-border-input: #ccc;
$color-border-abbr: #666;




// stylelint-disable value-keyword-case
$font-main: Jost, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font-code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", courier, monospace;
$font-line-height-body: 1.5;
$font-line-height-pre: 1.6;

$font-verybig: 1.8rem;
$font-big: 1.1rem;
$font-normal: 1rem;
$font-small: 0.8rem;
$font-verysmall: 0.5rem;

$icon-big: 1.2rem;
$border-radius: 3px;


$size-site-main: 100%;
$size-site-sidebar: 25%;
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;



$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns-margin: 3.8%;


