body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

// Start
main {
	transition: all 0.5s;
	margin-top: 8rem;
	@media screen and (min-width: $size__small) {
		&.header-big {
			margin-top: 10rem;
		}
	}
}

.entry-content {
	> figure {
		margin-top: -4rem;
	}
}