#bookingKitContainer {
    font-family: $font-headings !important;
    font-weight: bold !important;

    h1, h2, h3, h4 {
        &::after {
            content: none;
        }
    }
    .bk-sale-header,
    #bk-ev-grid_ct img,
    .bk-header-language,
    .bk-events-footer {
        display: none !important;
    }

    .bk-edl li.bk-edli:nth-child(odd) {
        background: $color-primary !important;
    }

    .textColor {
        color: $color-lightblack !important;
    }

    .img-icon svg use {
        fill: $color-black !important;
    }

    .bk-edli {
        border-radius: $border-radius !important;
    }    

    .bk-cal-slider {
        border-bottom: none !important;
    }

    .bk-ev-grid-head {
        border-bottom: none !important;
    }

    .bk-start-time {
        color: $color-white !important;
    }

    // Voucher
    .bk-event-content {
        .bk-header-box {
            display: none;
        }
    }
}

