$menuHeight: 5rem;

.main-navigation {
	display: block;
	width: 100%;
	background-color: $color-white;
	border-bottom: 3px solid $color-primary;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	height: $menuHeight;

	.container,
	.row,
	.col {
		height: 100%;
	}

	a {
		text-decoration: none;

		&.focus,
		&:hover {
			text-decoration: underline;
		}
	}

	.site-title {
		padding: 0.3em 0 0.3em 0;
		img {
			width: 100%;
			height: auto;
			max-width: 85px;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}
		}
	}

	.col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;

		&:first-child {
			align-items: flex-start;
		}
	}

	.menu-toggle {
		$top: 8px;
		$jump: 12px;
		$widthHeight: 45px;
		$minusWidth: 10px;

		background-color: $color-primary;
		margin: 0;
		padding: 0;
		border: none;
		width: $widthHeight;
		height: $widthHeight;

		// &:focus {
		// 	outline: none;
		// 	background-color: $color-secondary;

		// 	.line {
		// 		background-color: $color-black;
		// 	}
		// }

		.icon {
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			border-radius: $border-radius;
		}

		.line {
			position: absolute;
			left: $minusWidth / 2;
			height: 4px;
			width: $widthHeight - $minusWidth;
			background: $color-white;
			border-radius: $border-radius;
			transition: 0.9s;
			transform-origin: center;

			&:nth-child(1) {
				top: $top;
			}
			&:nth-child(2) {
				top: $top + $jump;
			}
			&:nth-child(3) {
				top: $top + $jump + $jump;
			}
		}

		&[aria-expanded="true"] {
			.icon {
				.line {
					&:nth-child(1) {
						transform: translateY($jump) rotate(-45deg);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:nth-child(3) {
						transform: translateY(-$jump) rotate(45deg);
					}
				}
			}
		}
	}
	.primary-menu {
		max-height: 0px;
		overflow: hidden;
		transition: max-height 0.9s;
		position: fixed;
		width: 100%;
		top: $menuHeight - 0.2rem;
		left: 0;
		z-index: 2;
		background-color: $color-white;
		font-size: $font-big;
		border-bottom: 1px solid $color-primary;
		border-top: 3px solid $color-primary;
		overflow-y: hidden;
		box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.9);
		li {
			&:first-child {
				padding-top: 1.1em;
			}
			&:last-child {
				padding-bottom: 1.1em;
			}
			max-width: 540px;
			margin: auto;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&.toggled {
		.primary-menu {
			max-height: 1000px;
			box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: $size-md) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		height: auto;
		font-size: $font-normal;
		transition: all 0.5s;
		padding: 0.2em;
		box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);

		ul {
			display: flex;
			justify-content: flex-end;

			li {
				margin-right: 0.7em;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&.toggled {
			.primary-menu {
				opacity: 1;
				position: static;
				width: auto;
				height: auto;
				top: auto;
				left: auto;
				z-index: auto;
			}
		}

		.primary-menu {
			max-height: none;
			position: inherit;
			width: inherit;
			top: inherit;
			left: inherit;
			z-index: inherit;
			background-color: inherit;
			font-size: inherit;
			border-bottom: inherit;
			border-top: inherit;
			box-shadow: none;

			li {
				&:first-child {
					padding-top: inherit;
				}
				&:last-child {
					padding-bottom: inherit;
				}
				max-width: inherit;
				margin-right: 15px;
				padding-left: inherit;
				padding-right: inherit;
			}

			// Cart Symbol in header
			// li:last-child {
			// 	a {
			// 		font-size: 0;

			// 		&::before {
			// 			content: "\f07A";
			// 			font-family: "Font Awesome 5 Free";
			// 			-moz-osx-font-smoothing: grayscale;
			// 			-webkit-font-smoothing: antialiased;
			// 			display: inline-block;
			// 			font-style: normal;
			// 			font-variant: normal;
			// 			text-rendering: auto;
			// 			line-height: 1;
			// 			display: inline-block;
			// 			font-weight: 900;
			// 			color: $color-black;
			// 			font-size: $icon-big;
			// 			background: $color-secondary;
			// 			border-radius: 50%;
			// 			padding: .3em .3em .2em 0.2em;
			// 		}
			// 	}
			// }
		}

		.site-title {
			width: auto;
			img {
				transition: all 0.5s;
				max-width: 70px;
			}
		}

		.menu-wrapper {
			transition: all 0.5s;
			margin-top: 1.2em;
		}

		&.header-big {
			padding: 0.7em 0;
			.site-title {
				img {
					max-width: 80px;
				}
			}
			.menu-wrapper {
				margin-top: 2.5rem;
			}
		}
	}
}

@media screen and (min-width: $size-lg) {
	.main-navigation {
		font-size: $font-big;

		.site-title {
			img {
				max-width: 85px;
			}
		}

		&.header-big {
			padding: 0.4em 0;
			.site-title {
				img {
					max-width: 100px;
				}
			}
			.menu-wrapper {
				margin-top: 2.5rem;
			}
		}
	}
}
