$menuHeight: 5rem;

.main-navigation {
	display: block;
	width: 100%;
	background-color: $color-white;
	border-bottom: 3px solid $color-primary;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	height: $menuHeight;
	text-transform: uppercase;
	font-size: $font-big;

	.container,
	.row,
	.col {
		height: 100%;
	}

	a {
		text-decoration: none;

		&.focus,
		&:hover {
			color: $color-secondary;
		}
	}

	.site-title {
		transition: font-size 0.5s;
		font-weight: bold;
		font-size: $font-veryveryverybig;
		text-transform: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}
		}
	}

	.col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;

		&:first-child {
			align-items: flex-start;
		}
	}

	.menu-toggle {
		$top: 8px;
		$jump: 12px;
		$widthHeight: 45px;
		$minusWidth: 10px;

		background-color: $color-primary;
		margin: 0;
		padding: 0;
		border: none;
		width: $widthHeight;
		height: $widthHeight;

		.icon {
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			margin-left: auto;
			margin-right: auto;
			border-radius: $border-radius;
		}

		.line {
			position: absolute;
			left: $minusWidth / 2;
			height: 4px;
			width: $widthHeight - $minusWidth;
			background: $color-white;
			border-radius: $border-radius;
			transition: 0.9s;
			transform-origin: center;

			&:nth-child(1) {
				top: $top;
			}
			&:nth-child(2) {
				top: $top + $jump;
			}
			&:nth-child(3) {
				top: $top + $jump + $jump;
			}
		}

		&[aria-expanded="true"] {
			.icon {
				.line {
					&:nth-child(1) {
						transform: translateY($jump) rotate(-45deg);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:nth-child(3) {
						transform: translateY(-$jump) rotate(45deg);
					}
				}
			}
		}
	}

	.primary-menu {
		max-height: 0px;
		overflow: hidden;
		transition: max-height 0.5s;
		position: fixed;
		width: 100%;
		top: $menuHeight - 0.2rem;
		left: 0;
		z-index: 2;
		background-color: $color-white;
		border-bottom: 1px solid $color-primary;
		border-top: 3px solid $color-primary;
		overflow-y: hidden;
		box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.9);
		font-family: $font-headings;
		font-weight: bold;
		$menu-list-padding: 2em;
		li {
			padding: 0.2em;
			&:first-child {
				padding-top: $menu-list-padding;
			}
			&:last-child {
				padding-bottom: $menu-list-padding;
			}
			max-width: 540px;
			margin: auto;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&.toggled {
		.primary-menu {
			max-height: 1000px;
			box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: $size-md) {
	.menu-toggle {
		display: none;
	}

	.main-navigation {
		height: auto;
		font-size: $font-abitverybig;
		transition: all 0.5s;
		padding: 0;
		box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);

		ul {
			display: flex;
			justify-content: flex-end;
	
			li {
				margin-right: 0.7em;
	
				&:last-child {
					margin-right: 0;
				}
			}
		}

		.col.menu-row {
			align-items: stretch;
		}

		&.toggled {
			.primary-menu {
				opacity: 1;
				position: static;
				width: auto;
				height: auto;
				top: auto;
				left: auto;
				z-index: auto;
			}
		}

		.primary-menu {
			max-height: none;
			position: inherit;
			width: inherit;
			top: inherit;
			left: inherit;
			z-index: inherit;
			background-color: inherit;
			border-bottom:inherit;
			border-top: inherit;
			box-shadow: none;
	
			li {
				padding-bottom: 0;
				&:first-child {
					padding-top: 0;
				}
				&:last-child {
					padding-bottom: 0;
				}
				max-width: inherit;
				padding-top: 0;
				padding-left: inherit;
				padding-right: inherit;
				margin-left: 1.5rem;
			}
		}

		.site-title {
			width: auto;
		}
	
		.menu-wrapper {
			transition: all 0.5s;
			margin-top: 0.9em;
		}

		&.header-big {
			padding: 0.3em 0;	
			.site-title {
				font-size: $font-veryveryveryverybig;
			}
			.menu-wrapper {
				margin-top: 1.8rem;
			}
		}
	}
}

// @media screen and (min-width: $size-lg) {
// 	.main-navigation {
// 		font-size: $font-verybig;

// 		.site-title {
// 			font-size: $font-veryveryveryveryverybig;
// 		}

// 		&.header-big {
// 			padding: 0.1em 0;	
// 			.site-title {
// 				font-size: $font-veryveryveryveryveryverybig;
// 			}
// 			.menu-wrapper {
// 				margin-top: 2.2rem;
// 			}
// 		}
// 	}
// }

// @media screen and (min-width: $size-xl) {
// 	.main-navigation {

// 		.site-title {

// 		}

// 		.menu-wrapper {
// 			transition: all 0.5s;
// 			margin-top: 0.7em;
// 		}

// 		&.header-big {
// 			padding: 0.35em 0;	

// 			.site-title {
// 			}
// 			.menu-wrapper {
// 				margin-top: 2.2rem;
// 			}
// 		}
// 	}
// }

.header-image {
	background: url("/wp-content/uploads/2020/10/header-scaled-e1603278284386.jpg");
	background-size: cover;
	background-position: center;
	margin-top: 2em;
	height: 75vh;
	max-height: 600px;
	position: relative;

	.header-image-text {
		display: none;
		position: relative;

		@media screen and (min-width: $size-lg) {
			display: block;
			padding-top: 50vh;
			background-color: transparent !important;
			color: $color-black;
			font-size: $font-big;
			text-align: right;

			&::after {
				content: "";
				display: inline-block;
				border-bottom: 2px solid #093a3e;
				width: 170px;
				position: absolute;
				bottom: -5px;
				right: 15px;
			}
		}

		@media screen and (min-width: $size-xl) {
			padding-top: 45vh;
			font-size: $font-verybig;

			&::after {
				width: 270px;
			}
		}

		@media screen and (min-width: $size-xxl) {
			padding-top: 35vh;
			font-size: $font-veryverybig;
			
			&::after {
				width: 370px;
			}
		}
	}
}