.tabs-list {
	margin: 1em 0 2em 0;

	.nav-tabs {
		border-color: transparent;

		.nav-link {
			text-decoration: none;
			color: $color-black;
			border-radius: 0.5em;
			border-color: transparent;

			&:hover {
				border-color: $color-primary;
			}

			&.active {
				color: $color-black;
				border-color: transparent;
				text-decoration: underline;
			}
		}
	}

	.slick-list {
		width: 90%;
		margin: auto;
		border-bottom: 1px solid $color-primary;
		margin-bottom: 0.5em;
	}

	.bar-tabs {
		display: none;
	}

	.fade {
		opacity: 1;
		margin-bottom: 2em;
	}

	.tab-pane {
		display: block;
	}

	.tab-header {
		margin-bottom: 0.5em;
		&::after {
			content: none;
		}
	}

	@media screen and (min-width: $size-lg) {		
		margin: 4em 0 2em 0;

		.nav-tabs {
			border-color: $color-primary;

			.nav-link {
				&.active {
					color: $color-black;
					border-color: $color-primary $color-primary $color-white;
					text-decoration: none;
				}
			}
		}

		.tab-content {
			padding: 1em;
		}
		.bar-tabs {
			display: flex;
		}
		.fade {
			opacity: 0;
			margin-bottom: 0;
		}
		.tab-pane {
			display: none;

			&.active.show {
				display: block;
				opacity: 1;
			}
		}
		.tab-header {
			display: none;
		}
	}



	@media screen and (min-width: $size-xl) {

	}
}
