input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__black;
	border: 1px solid $color__primary;
	border-radius: 2px;
	padding: 3px;
	width: 100%;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

.product-teaser {
	margin: 2em 0;
}

.product-teaser a, input[type="submit"], .button {
	display: inline-block;
	border-radius: 0.5em;
	background-color: $color__primary;
	color: $color__white;
	padding: 0.6em 1em 0.5em 1em;
	width: auto;
	margin: 0.7em 0 0.7em 0;
	cursor: pointer;
	text-decoration: none;
	
	&:hover {
		background-color: $color__secondary;
		color: $color__black;
		text-decoration: none;
	}
}

input[type="submit"] {
	margin-top: 0;
}

label {
	width: 100%;
	font-size: 1.1rem;
}

form {
	p {
		margin-bottom: 0.7em;
	}
}
