html {
	font-size: 15px;
}
body {
	background: $color-background-body; // Fallback for when there is no custom background color defined.
}

// Start
$header-size: 4.8rem;
main {
	transition: all 0.5s;
	margin-top: $header-size;
	@media screen and (min-width: $size-md) {
		&.header-big {
			margin-top: $header-size + 0.8rem;
		}
	}
	@media screen and (min-width: $size-lg) {
		&.header-big {
			margin-top: $header-size + 1.8rem;
		}
	}
	@media screen and (min-width: $size-xl) {
		&.header-big {
			margin-top: $header-size + 2.8rem;
		}
	}
}

.entry-content {
	> figure {
		margin-top: -6rem;
	}
}

.full-width {
	width: 100vw;
    position: relative;
    margin-left: -52vw;
    left: 50%;
	overflow: hidden;

	@media screen and (min-width: $size-xl) {
		margin-left: -51vw;
	}

	@media screen and (min-width: $size-xxl) {
		margin-left: -50.5vw;
	}
}

article {
	margin-bottom: 3em;
}