html {
	font-size: 16px;
}
body {
	background: $color-background-body; // Fallback for when there is no custom background color defined.
}

// Start
$header-size: 80px;
main {
	transition: all 0.5s;
	margin-top: $header-size;
	@media screen and (min-width: $size-md) {
		&.header-big {
			margin-top: $header-size + 5px;
		}
	}
	@media screen and (min-width: $size-lg) {
		&.header-big {
			margin-top: $header-size + 20px;
		}
	}
	@media screen and (min-width: $size-xl) {
		&.header-big {
			margin-top: $header-size + 35px;
		}
	}
}

.entry-content {
	> figure {
		margin-top: -6rem;
	}
}

.full-width {
	width: 100vw;
    position: relative;
    margin-left: -52vw;
    left: 50%;
	overflow: hidden;

	@media screen and (min-width: $size-xl) {
		margin-left: -51vw;
	}

	@media screen and (min-width: $size-xxl) {
		margin-left: -50.5vw;
	}
}

article {
	margin-bottom: 3em;
}

section {
	margin-bottom: -2em;

	p:last-child {
		margin-bottom: 0;
	}

	ul {
		margin-bottom: 2em;
	}
columns: 1;
}

h1 {
	margin-bottom: -1em;
}